<main>
  <section class="bg-neutral-primary">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
      <h1 class="mt-5 text-4xl font-bold tracking-tighter text-white md:text-5xl lg:text-6xl">
        Bem Vindo ao Angular KanBan!
      </h1>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0"
    ></div>
  </section>
  <section class="z-10 relative">
    <app-kanban></app-kanban>
  </section>
</main>
